<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Speaker Recognition System</title>
    <meta name="author" content="Adam Lewandowski">
    <meta name="description" content="Speaker Recognition System makes easier to identify speakers from the group.">
    <meta name="keywords" content="Speaker, Recognition, System, ML">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/global.css">
</head>

<body>
    <header>
        <nav class="navbar 
        navbar-expand navbar-dark bg-primary justify-content-between">
            <ul class="navbar-nav mr-auto">
                {{#equal page_role 'user'}}
                    <li class="nav-item">
                        <a href="user" class="nav-link active">User dashboard</a>
                    </li>
                    {{#equal user_info.admin true}}
                        <li class="nav-item">
                            <a href="admin" class="nav-link">Admin dashboard</a>
                        </li>
                    {{/equal}}
                    {{#equal user_info.head_admin true}}
                        <li class="nav-item">
                            <a href="head_admin" class="nav-link">Head admin dashboard</a>
                        </li>
                    {{/equal}}
                {{/equal}}
                {{#equal page_role 'admin'}}
                    <li class="nav-item">
                        <a href="user" class="nav-link">User dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="admin" class="nav-link active">Admin dashboard</a>
                    </li>
                    {{#equal user_info.head_admin true}}
                        <li class="nav-item">
                            <a href="head_admin" class="nav-link">Head admin dashboard</a>
                        </li>
                    {{/equal}}
                {{/equal}}
                {{#equal page_role 'head_admin'}}
                    <li class="nav-item">
                        <a href="user" class="nav-link">User dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="admin" class="nav-link">Admin dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="head_admin" class="nav-link active">Head admin dashboard</a>
                    </li>
                {{/equal}}
            </ul>

            <button id="logout" class="btn btn-secondary">Logout</button>
        </nav>
    </header>

    <main>
        {{#equal page_role 'user'}}
            <div id="speakersList">
                {{#each speakersBase}}
                    <div data-sid="{{this.sid}}" data-uid="{{this.uid}}"></div>
                {{/each}}
            </div>

            <form id="test-form" class="card card-body">
                <fieldset>
                    <legend>Testing sample</legend>

                    <div class="form-group mb-3">
                        <label for="files" class="form-label">Sample</label>
                        <input class="form-control" type="file" id="files" accept=".mp3">
                    </div>

                    <small id="info-no-speaker" class="alert-hidden">No speakers</small>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </fieldset>
            </form>
        {{/equal}}

        {{#equal page_role 'admin'}}
            <div id="usersList">
                {{#each users}}
                    <div data-name="{{this.name}}"></div>
                {{/each}}
            </div>

            <div id="speakersList">
                {{#each files}}
                    <div data-sid="{{this.sid}}" data-uid="{{this.uid}}">
                        {{#each this.files}}
                            <div data-id="{{this.id}}" data-fname="{{this.fname}}"></div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>

            <form id="model-form" class="card card-body">
                <fieldset>
                    <legend>Create/Edit model</legend>
                    <div class="form-group">
                        <label for="user" class="form-label">User</label>
                        <select class="form-control" id="user" required>
                            <option value="" selected disabled hidden>Choose here</option>
                            {{#each users}}
                                <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                
                    <div class="form-group mb-3">
                        <label for="files" class="form-label">Add samples</label>
                        <input class="form-control" type="file" id="files" accept=".mp3" multiple disabled>
                    </div>

                    {{!-- <div class="form-group">
                        <label for="samples">Remove samples</label>
                        <select multiple class="form-control" id="samples" disabled></select>
                    </div> --}}

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </fieldset>
            </form>
        {{/equal}}

        {{#equal page_role 'head_admin'}}
            <div id="usersList">
                {{#each users}}
                    <div data-name="{{this.name}}" data-role="{{this.role}}"></div>
                {{/each}}
            </div>

            <div class="mb-5 mode-selection">
                <a href="#user-creation">
                    <button class="btn btn-primary">
                        Create
                    </button>
                </a>

                <a href="#user-edition">
                    <button class="btn btn-primary">
                        Edit
                    </button>
                </a>

                <a href="#user-deletion">
                    <button class="btn btn-primary">
                        Delete
                    </button>
                </a>
            </div>

            <div class="forms-collapse">
                <form id="user-creation" class="card card-body">
                    <fieldset>
                        <legend>Creation</legend>
                        <div class="form-group">
                            <label for="user-creation-username" class="form-label">User</label>
                            <input type="text" id="user-creation-username" class="form-control" required minlength="8" maxlength="16">
                        </div>

                        <div class="form-group">
                            <label for="user-creation-role" class="form-label">Role</label>
                            <select class="form-control" id="user-creation-role" required>
                                <option value="USER" selected>User</option>
                                <option value="ADMIN">Admin</option>
                                <option value="HEAD_ADMIN">Head admin</option>
                            </select>
                        </div>

                        <div class="form-group mt-3">
                            <label for="user-creation-password">Password</label>
                            <input type="password" class="form-control" id="user-creation-password" required minlength="8" maxlength="16">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </fieldset>
                </form>

                <form id="user-edition" class="card card-body">
                    <fieldset>
                        <legend>Edition</legend>
                        <div class="form-group">
                            <label for="user-edition-username" class="form-label">User</label>
                            <select class="form-control" id="user-edition-username" required>
                                <option value="" selected disabled hidden>Choose here</option>
                                {{#each users}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="user-edition-role" class="form-label">Role</label>
                            <select class="form-control" id="user-edition-role">
                                <option value="USER">User</option>
                                <option value="ADMIN">Admin</option>
                                <option value="HEAD_ADMIN">Head admin</option>
                            </select>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="password-change">
                            <label class="form-check-label" for="password-change">Change password</label>
                        </div>

                        <div class="form-group mt-3">
                            <label for="user-edition-password">Password</label>
                            <input type="password" class="form-control" disabled id="user-edition-password">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary" id="user-edition-reset">Reset</button>
                    </fieldset>
                </form>

                <form id="user-deletion" class="card card-body">
                    <fieldset>
                        <legend>Deletion</legend>
                        <div class="form-group">
                            <label for="user-deletion-username" class="form-label">User</label>
                            <select class="form-control" id="user-deletion-username" required>
                                <option value="" selected disabled hidden>Choose here</option>
                                {{#each users}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </fieldset>
                </form>
            </div>
        {{/equal}}
    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.1.0/rxjs.umd.min.js" 
        integrity="sha512-hsXAcKOZ1PjYtQ2xkvR3SAe9JPzaCiV9rnEhbfCxNYoN0jO+wCpW4TIzUGJixujOdX5ihxLjd1htag3PCFnKPw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="scripts/pages/global.js" defer></script>

    {{#equal page_role 'user'}}
        <script type="module" src="scripts/pages/user.js" defer></script>
    {{/equal}}
    {{#equal page_role 'admin'}}
        <script type="module" src="scripts/pages/admin.js" defer></script>
    {{/equal}}
    {{#equal page_role 'head_admin'}}
        <script type="module" src="scripts/pages/head_admin.js" defer></script>
    {{/equal}}
</body>

</html>